/** in this file constants are defined
e.g. colors, borders etc;
**/

//------------------------- colors ------------------------
$white: #ffffff;
$black: #000000;
$black_light: #444444;
$black_transparent: rgba(0,0,0,0.5);
$accent-color1: #be4b04;
$accent-color2: #9e2000;
$transparent: rgba(0,0,0,0);
$light-grey: #d0d0d0;
$dark-blue: #020021;

//------------------------- shadows ------------------------
$regular-box-shadow: 5px 0px 5px $black_transparent;