.dummy_button {
    z-index: 100;
    position: absolute;
    margin: 300px;
    cursor: pointer;
}

.nav_bg_home{
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
    z-index: 50;
}