<div class="page_container">
    <div class="about_wrapper">
        <div class="nav_bg"></div>
        <div class="spacer7"></div>
        <div class="about_content">
            <div class="spacer4"></div>
            <div class="about_left">
                <div class="h2_black orange about_title">TIME <span class="h2_black">IS RUNNING OUT.</span></div>
                <p class="about_text"> <b>RARITY</b> is a project focusing on a topic that concerns us all: The soon demise of many species we have taken for granted for the past decades. While numbers of the most endangered species on this planet quickly decline, we have decided it is time to take action and help saving the wonderful diversity of the animal world. This project by students of the Hochschule Augsburg aims to reach this goal by letting users playfully interact with endangered species and hence raise awareness and empathy. We hope that through joyful interaction like this, we can protect what makes this planet so beautiful.
                    <br><br>Made with love by Maik Hackemann, Pia Probst and Haleemah Hadi.</p>
            </div>
            <div class="spacer6"></div>
            <div class="about_right">
                <div class="pic">
                    <div class="spacer8"></div>
                    <img class="about_pic" src="/assets/Maik.png"/>
                    <div class="spacer5"></div>
                </div>
                <div class="pic">
                    <div class="spacer5"></div>
                    <img class="about_pic" src="/assets/Pia.png"/>
                    <div class="spacer8"></div>
                </div>
                <div class="pic">
                    <div class="spacer8"></div>
                    <img class="about_pic" src="/assets/Haleemah.png"/>
                    <div class="spacer5"></div>
                </div>
            </div>
            <div class="spacer4"></div>
        </div>
    </div>
</div>
